### Modulo and Floor Division

In [1]:
a=13
b=4
a//b,a%b

(3, 1)

In [2]:
a=-13
b=-4
a//b,a%b

(3, -1)

In [3]:
a=-13
b=4
a//b,a%b

(-4, 3)

In [4]:
a=13
b=-4
a//b,a%b

(-4, -3)

### Sequences - List and Tuple

List - It is mutable and has no fixed size. It can be both Homogenous and Heterogenous.

Tuple - It is immutable and has fixed size. It can be both Homogenous and Heterogenous.

In [5]:
list1 = [1,2,3,4,5,6]
type(list1)

list

In [6]:
tuple1 = (1,2,3,4,5)
type(tuple1)

tuple

In [7]:
list1[2]

3

In [8]:
tuple1[3]

4

### Slicing

In [30]:
str = 'hello world'
str

'hello world'

In [10]:
str[3]

'l'

In [11]:
str[1:7]

'ello w'

In [12]:
str[3:8:5]

'l'

In [13]:
list1

[1, 2, 3, 4, 5, 6]

In [14]:
# here, list[1:4] is [2,3,4] but due to the presence of [1:4:2], the 2nd position value is skipped and we get [2,4]
list1[1:4:2]

[2, 4]

In [15]:
# reversing the list1
list1[::-1]

[6, 5, 4, 3, 2, 1]

In [16]:
list(enumerate(str))

[(0, 'h'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'w'),
 (7, 'o'),
 (8, 'r'),
 (9, 'l'),
 (10, 'd')]

### Iteration

In [17]:
# for loop
for x in [1,2,3]:
    print(x)

1
2
3

In [18]:
for x in [1,2,3]:
    print(x)
    print('hi')

1
hi
2
hi
3
hi

In [19]:
for x in [1,2,3]:
    print(x)
print('hi')

1
2
3
hi

In [20]:
for x in list1:
    print(x)

1
2
3
4
5
6

In [21]:
for y in ('hello'):
    print(y)

h
e
l
l
o

### Sequence Mothods

In [22]:
list1

[1, 2, 3, 4, 5, 6]

In [23]:
5 in list1

True

In [24]:
9 in list1

False

In [25]:
30 not in list1

True

In [26]:
str

'hello world'

In [27]:
'w' in str

True

### Concatenate

In [28]:
list2 = [9,5.4,'Yo']

In [29]:
list1 + list2

[1, 2, 3, 4, 5, 6, 9, 5.4, 'Yo']

#### Tuples can only oncatenate with tuples
#### Strings can only oncatenate with strings
#### Lists can only oncatenate with lists

### Repeatation

In [32]:
3*'abc'

'abcabcabc'

In [33]:
3*tuple1

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [34]:
2*list1

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

### Length, Max & Min

In [35]:
# Length
len(list1)

6

In [36]:
# Maximum
max(list1)

6

In [37]:
# Minimum
min(list1)

1

Heterogenous lists or tuples are not applicable for measuring max and min.

In [39]:
len(list2)

3

But the measuring of a length for heterogenous list or tuple can be done.

### Index Position

In [28]:
str

str

In [41]:
str.index('w')

6

In [42]:
str.index('l')

2

This 'l' is the first "l" encountered by python, but if we want to know the index position of 'l' of 'world', then we have to specify the index number of the element after all 'l' present in word 'hello'.

In [43]:
str.index('l',4)

9

### Addition of elements

In [44]:
list1

[1, 2, 3, 4, 5, 6]

In [45]:
list1.append(10)

In [46]:
list1

[1, 2, 3, 4, 5, 6, 10]

In [47]:
list1.append(20)
list1

[1, 2, 3, 4, 5, 6, 10, 20]

In [50]:
list1.append([30,40])
list1

[1, 2, 3, 4, 5, 6, 10, 20, [30, 40], [30, 40]]

In [51]:
list1.insert(3,55)
list1

[1, 2, 3, 55, 4, 5, 6, 10, 20, [30, 40], [30, 40]]

These are not possible for tuples.

In [52]:
list1[4]=99
list1

[1, 2, 3, 55, 99, 5, 6, 10, 20, [30, 40], [30, 40]]

In [53]:
list1[1:4]=[33,44]
list1

[1, 33, 44, 99, 5, 6, 10, 20, [30, 40], [30, 40]]

### Removing of elements

In [1]:
lst = [10,20,30,40,50,60,70,80,90,100]
lst

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [2]:
del lst[4]

In [3]:
lst

[10, 20, 30, 40, 60, 70, 80, 90, 100]

In [4]:
del  lst[1:5]
lst

[10, 70, 80, 90, 100]

In [5]:
x = lst.pop()
print(x,
     lst)

100 [10, 70, 80, 90]

In [6]:
lst.clear()
lst

[]

### Reverse

In [7]:
lst = [10,20,30,40,50,60,70,80,90,100]
lst.reverse()

In [8]:
lst

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [11]:
lst[::-1]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

### Sorting

In [12]:
lst

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [13]:
# Acending order sorting
lst.sort()

In [14]:
lst

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [16]:
# decending order sorting
lst.sort(reverse=True)
lst

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [17]:
lst.sort(reverse=1)
lst

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [18]:
lst1 = ['python','java','c','c++',]
lst1.sort()
lst1

['c', 'c++', 'java', 'python']

### Tuple

In [19]:
# list inside tuple
tup = ([1,2,3,4],[5,6,7,8])
tup[0]

[1, 2, 3, 4]

In [20]:
tup[0].append(9)
tup

([1, 2, 3, 4, 9], [5, 6, 7, 8])

### Strings

In [21]:
stg = 'python'
stg

'python'

In [22]:
stg.capitalize()

'Python'

In [31]:
str.title()

'Hello World'

In [24]:
stg.lower()

'python'

In [25]:
stg.upper()

'PYTHON'

In [26]:
'PYTHON'.swapcase()

'python'

In [32]:
'python'.endswith('on'), 'python'.endswith('ab')

(True, False)

In [33]:
'python'.startswith('py'), 'python'.startswith('gf')

(True, False)

In [34]:
stg.find('t')

2

In [39]:
stg1 = 'python3'
stg1

'python3'

In [40]:
stg1.isalpha(),stg1.isalnum(), stg1.isnumeric()

(False, True, False)

In [37]:
stg2 = '123'
stg2

'123'

In [38]:
stg2.isalpha(),stg2.isalnum(), stg2.isnumeric()

(False, True, True)

In [41]:
" ".isspace(), ''.isspace()

(True, False)

In [42]:
" python ".strip()

'python'

In [43]:
' python    '.lstrip()

'python    '

In [44]:
' python    '.rstrip()

' python'

In [45]:
'1,2,3'.split(',')

['1', '2', '3']

In [46]:
'ab;cd;ef'.split(';')

['ab', 'cd', 'ef']