### Variable Unpacking

In [2]:
x,y,z = [1,2,3]
x,y,z

(1, 2, 3)

In [3]:
a,b,c = (1,2,3)
a,b,c

(1, 2, 3)

In [4]:
x,y,z = 'abc'
x,y,z

('a', 'b', 'c')

### Dictionaries

In [5]:
dict1 = {'Name':'Dip Kumar Mallick', 'Age':'26'}
dict1

{'Name': 'Dip Kumar Mallick', 'Age': '26'}

In [6]:
# accessing the values of the dictionary
dict1['Name']

'Dip Kumar Mallick'

In [7]:
dict1['Location'] = 'Bangalore'
dict1

{'Name': 'Dip Kumar Mallick', 'Age': '26', 'Location': 'Bangalore'}

In [8]:
# deleting the elements of dictionary
del(dict1['Age'])
dict1

{'Name': 'Dip Kumar Mallick', 'Location': 'Bangalore'}

In [9]:
# clearing the dictionary
dict1.clear()
dict1

{}

In [10]:
del dict1

### Sets

In [11]:
# sets does not contain duplicate values
# sets does not have positional ordering
s1 = {1,2,3,4}
s1

{1, 2, 3, 4}

In [12]:
# sets sorts the elements automatically.
s2 = {11,2,55,66,8}
s2

{2, 8, 11, 55, 66}

In [13]:
# no order is maintained
for i in s2:
    print(i)

2
66
8
11
55

In [14]:
s1 = {}
type(s1)

dict

In [15]:
s1 = set()
type(s1)

set

In [16]:
len(s1)

0

In [17]:
s1 = {1,2,'a',(1,2),9.9}
s1

{(1, 2), 1, 2, 9.9, 'a'}

Sets accepts only immutable data types not mutable data types.

In [18]:
s1 = set([1,2,3,4,5])

In [19]:
s1

{1, 2, 3, 4, 5}

In [20]:
s2 =set((1,2,3,4,5))

In [21]:
s2

{1, 2, 3, 4, 5}

In [24]:
s3 = set('python')
s3

{'h', 'n', 'o', 'p', 't', 'y'}

In [25]:
s4 = set('hello')
s4

{'e', 'h', 'l', 'o'}

In [26]:
for i in range(1,5):
    print(i)

1
2
3
4

In [27]:
s5 = set(range(1,10))
s5

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Set Theory

In [31]:
s1 = {1,2,3}
s2 = {3,4,5}
s1 & s2

{3}

In [32]:
s1.intersection(s2)

{3}

In [35]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [36]:
# difference
s1 = {1,2,3,4,5,6}
s2 = {5,6,7}
s1-s2

{1, 2, 3, 4}

In [37]:
s1.difference(s2)

{1, 2, 3, 4}

In [38]:
s2-s1

{7}

In [39]:
# Symmetric difference
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [41]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}
s1.issubset(s2)

False

In [42]:
s2.issubset(s1)

True

### Assigning Values

In [1]:
a,b,c = 1,'abc',5.5
a,b,c

(1, 'abc', 5.5)

In [8]:
a_str = 'This is a single line string.'
a_str

'This is a single line string.'

In [6]:
m_str = '''This is
a multiline
string.'''
m_str

'This is\na multiline\nstring.'

In [7]:
print(m_str)

This is
a multiline
string.

### Getting input from users

In [10]:
name = input('Enter your name: ')
name

Enter your name: D.K.Mallick

'D.K.Mallick'

In [11]:
age = input('Enter your age: ')
age

Enter your age: 26

'26'

In [12]:
type(age)

str

In [13]:
age = eval(input("Enter your age: "))
age

Enter your age: 26

26

In [14]:
type(age)

int

In [15]:
age = int(input('Enter age: '))
age

Enter age: 26

26

In [16]:
type(age)

int

### Print Statements in Python

In [17]:
print('Hello World!')

Hello World!

In [18]:
name = input('Enter name: ')
name

Enter name: Dip Kumar Mallick

'Dip Kumar Mallick'

In [19]:
print('Hello',name)

Hello Dip Kumar Mallick

In [20]:
print(name,'is',age,'years old.')

Dip Kumar Mallick is 26 years old.

In [21]:
# Standard way of using print statements

print('{0} is {1} years old'.format(name,age))

Dip Kumar Mallick is 26 years old

In [23]:
# f-string method

print(f'{name} is {age} years old.')

Dip Kumar Mallick is 26 years old.

### Comparing two variables

In [24]:
"i" == "Hi"

False

In [25]:
1==1

True

In [26]:
2 == 1

False

In [27]:
"hello" == "Hello"

False

In [28]:
a = 10
b = 10
a==b

True

In [29]:
a is b

True

In [30]:
a = 3999
b = 3999
a==b

True

In [31]:
a is b

False

When the values of a and b are below or equal to 256, then a is b gets true as a and b points the same memory location but when a and b both are above 256, then a is b throws false as a and b both assigns themselves different memory locations. So in that case we have to use == to equate to variables.

In [32]:
a = 256
b = 256
a is b

True

In [35]:
a = 257
b = 257
a is b

False

In [36]:
a = 'welcome to python'
b = 'welcome to python'
a is b

False